.principal{
	background: rgba(0, 0, 0, .2);
}

.costado{
	background: yellow;
}
body{
	/*E padding alinea el body con el nav fixed*/
	padding-top: 50px;
	background-color: #EEE;
}
.container div.row{
	background-color: #FFF;
}

/* navbar */
.navbar-collapse{
	border-bottom: 1px solid #DDD;
}
.navlog{
	border: 0px solid #333;
	display: none;
}
/* fin navbar */
